{% extends 'base.html' %}

{% block content %}

<section class="create-category-container">
    <div class="create-category-content">
        <div class="create-category-form">
            <div>
                <h2>Criar produto</h2>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{product_form.as_p}}
                <div class="create-category-buttons">
                    <button type="submit" value="Submit"> Criar </button>
                    <a href="{% url 'manager:list_product' %}"><button type="button"> Voltar </button></a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}