{% extends 'base.html' %}

{% block content %}

<section class="middle-container">
    <div class="middle-content-header">
      <div class="middle-title">
        <h2>Produtos</h2>
      </div>
      <a href="{% url 'manager:create_product' %}"><button><i class="fa-solid fa-plus"></i>ADICIONAR</button></a>
    </div>

    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Descrição</th>
          <th>Imagem</th>
          <th>Valor</th>
          <th>Criado em</th>
          <th>Modificado em</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.description|truncatechars:25}}</td>
          <td>{{product.image|truncatechars:40}}</td>
          <td>{{product.value}}</td>
          <td>{{product.created_at|date:"d/m/Y - H:i"}}</td>
          <td>{{product.modified_at|date:"d/m/Y - H:i"}}</td>
          <td>            
            <a href="{% url 'manager:update_category' product.id %}" id="category-modal-update"><i class="fa-2x fa-solid fa-file-pen"></i></a>
            <a href="{% url 'manager:delete_category' product.id %}"><i class="fa-2x fa-solid fa-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </section>
  

{% endblock %}