{% extends 'base.html' %}

{% block content %}

<div class="delete-category-container">
    <div class="delete-category-content">
    <h2>Deseja realmente excluir a categoria {{category.name}}?</h2>
        <form method="POST">
            <!-- TODO: CONSTRUIR O SEARCH Q| -->
            {% csrf_token %}
            <div class="delete-category-buttons">
                <button type="submit">Excluir</button>
                <a href="{% url 'products:list_category' %}"><button type="button"> Voltar </button></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}