* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
:root {
    --update-color: #e6ff74;
    --delete-color: #ff4b4b;
    --third-color: #ffffff;
    --background-color: rgb(255, 245, 233);
    --green-color: #00ff2a;
    --gray-color: #a5a3a3cc;
    --black-color: black;
    --main-color: #61a5bf;
    --second-color: #fdd550;
      
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
    /* background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(233,248,255,1) 76%, rgba(213,243,255,1) 100%); */
    /* height: 100vh; */
    /* gap: 20px; */
}

h2{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
h3 {
  text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    color: black;
    cursor: pointer;
}

.errorlist li {
    list-style-type: none;
    color: red;
}

label , th, td{
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

table {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-spacing: 0px;
}

td{
  text-align: center;
  margin: 0px 50px;
}

th {
  padding: 10px;
}

tr:nth-child(odd){
  background-color: rgb(243, 243, 243);
}

/* button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
} */


.middle-container {
    margin: 0 15rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.middle-content-header {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 20px;
}

.middle-content-header th, td{
  font-size: 15px;
}

.middle-content-header button {
    font-size: 20px;
    padding: 10px 40px;
    background-color: var(--green-color);
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s ease;
}

.middle-content-header button:hover {
  background-color: var(--gray-color);
  color: var(--third-color);
}

.middle-content-header button:hover i {
  color: var(--third-color);
  transition: all 1s ease;
}


.middle-content-list {
    display: flex;
    flex-direction: column;
}

.middle-content-list li:nth-child(odd) {
    background-color: var(--third-color);
}

.middle-content-list ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid black;
}

.middle-content-list ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.list-category {
    width: 100%;
}

.list-table {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}


/* .list-category i {
    color: red;
} */

.fa-file-pen{
    color: var(--update-color)
}
.fa-trash {
    color: var(--delete-color)
}

.list-category li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}















/* create category */
/* .create-category-container {

} */

.create-category-container a {
  color: var(--main-color);
}

.create-category-content {
    display: flex;
    /* align-content: center; */
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.create-category-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    border: 0.5px solid var(--gray-color);
    border-radius: 10px;

}
.create-category-form input, select, textarea {
    padding: 5px 15px;
    width: 100%;
    border: 1px solid black;
    /* box-shadow: 0 0 19px rgb(0 0 0 / 10%); */
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    transition: all 1s ease;
}


.create-category-form button {
    font-size: 20px;
    padding: 10px 40px;
    background-color:var(--green-color);
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s ease;
}

.create-category-form button:hover {
    background-color: var(--gray-color);
    color: var(--third-color);
}


/* .create-category-form label {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
} */

.create-category-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.create-category-form form {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.create-category-form p {
    width: 100%;
}

/* .create-category-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.delete-category-container {
    display: flex;
    justify-content: center;
}

.delete-category-content {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.delete-category-content button {
    font-size: 20px;
    padding: 10px 40px;
    background-color: var(--green-color);
    cursor: pointer;
    border-radius: 10px;
    transition: all ease 1s ;
}

.delete-category-content button:hover {
    background-color: var(--gray-color);
    color: var(--third-color);
}

.delete-category-buttons {
    display: flex;
    justify-content: space-around;
}












































.header-container {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header-content {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: var(--main-color);
}

#logo {
    width: 15rem;
  }


  .header-block-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;
  }
  
  #name {
    /* color: aqua; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: var(--third-color);
  }
  
  #name span {
    border-left: 7px solid var(--second-color);
    border-right: 7px solid var(--second-color);
    padding: 0 20px;
  }

  .underline-left-to-right {
    position: relative;
    margin: 30px 0;
  }
  
  .underline-left-to-right:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 7px;
    top: -5.5px;
    left: 0;
    background-color: var(--second-color);
    transition: width 0.5s ease-in-out;
  }
  
  .underline-left-to-right:hover:before {
    width: 100%;
  }



  .search-form {
    position: relative;
  }
  
  .search-form i {
    position: absolute;
    top: 22%;
    left: 95%;
    z-index: 1;
    transition: all 1s ease;
  }

  #search {
    width: 50rem;
    height: 3rem;
    padding: 0 20px;
    border: 1px solid var(--third-color);
    box-shadow: 0 0 19px rgb(0 0 0 / 10%);
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    transition: all 1s ease;
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;

  }

  
  
  .navbar > li > a {
    color: var(--third-color);
  }
  
  


  .navbar li:hover .dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black 50px;
    border-radius: 5px;
  }
  
  .dropdown a{
    color: var(--black-color);
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    border: 50%;
    padding: 5px;
  }
  
  .dropdown a:hover{
    background-color: var(--gray-color);
    border: 50%;
  }


  .header-block-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    max-width: 200px;
    min-width: 200px;
    max-height: 163px;
    min-height: 163px;
  }
  
  .header-block-options a {
    color: var(--main-color);
  }
  
  .header-block-options i {
    color: var(--main-color);
  }


  .header-item-orders {
    display: flex;
    justify-content: space-around;
    background-color: var(--third-color);
    text-align: center;
    padding: 8px 10px;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 1s ease;
  }

  .header-item-orders i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }

  .header-item-orders p {
    position: absolute;
    font-size: 10px;
    color: red;
    left: 90%;
    bottom: 50%;
    border-radius: 50%;
    padding: 3px 6px;
    font-weight: bold;
    background-color: #c4c4c4;
    transition: 1s all ease;
  }
  
  .header-item-orders:hover {
    background-color: var(--main-color);
  }

  .header-item-orders:hover p {
    transform: scale(1.5);
  }
  
  .header-item-orders:hover i {
    color: var(--third-color);
  }
  .header-item-orders:hover span {
    color: var(--third-color);
  }
  
  .header-item-orders:hover a {
    color: var(--third-color);
  }

  .header-item-orders h6 {
    color: red;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    margin: 25px 15%;
  }
  
  .footer-content h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .footer-content li{
    display: flex;
    margin: 5px 0px;
    gap: 20px;
  }
  
  .footer-content a{  
    color: var(--black-color);
    font-family: 'Montserrat',sans-serif;
  }

  .social-medias {
    display: flex;
    flex-direction: column;
  }
  
  .social-medias div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .ofertas {
    min-width: 133px;
  }

  .copyright p {
    text-align: center;
    color: var(--black-color);
    margin: 0px 15px;
  }


  .icon {
    position: relative;
  }
  
  .icon i {
    position: absolute;
    top: 22%;
    left: 2%;
  }

.list_categories {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    border: 0.5px solid var(--gray-color);
    padding: 20px 100px;
}

.list a {
    color: var(--black-color);
}


.product-list-container {
  display: flex;
  flex-direction: column;
  margin: 0px 250px;
  gap: 40px;
}

.product-list-container h2 {
  text-align: center;
}

.product-list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.product-list-item {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-list-item img {
  object-fit: cover;
  max-width: 250px;
  max-height: 300px;
  min-width: 250px;
  min-height: 300px;
}


.pagination-right {
  position: absolute;
  left: 97%;
}

.pagination-right i{
  opacity: 0.4;
  background-color: var(--gray-color);
  border-radius: 50%;
  padding: 20px;
  transition: all 1s ease;
}

.pagination-right i:hover{
  opacity: 1;
  background-color: var(--gray-color);
  border-radius: 50%;
  padding: 20px;
}

.pagination-left {
  position: absolute;
  right: 97%;
}

.pagination-left i{
  opacity: 0.4;
  background-color: var(--gray-color);
  border-radius: 50%;
  padding: 20px;
  transition: all 1s ease;
  transform: rotate(0.5turn);
}

.pagination-left i:hover{
  opacity: 1;
  background-color: var(--gray-color);
  border-radius: 50%;
  padding: 20px;
}


.manager-options-container {
}

.manager-options-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.manager-options-content a {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--gray-color);
  transition: all 1s ease;
}

.manager-options-content a:hover {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
  background-color: var(--main-color);
}

.manager-options-content span {
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  color: var(--third-color);
}


.product-list-item-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.detail-item-container {
  display: flex;
}

.detail-item-content {
  display: flex;
  width: 100%;
  margin: 0px 250px;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.detail-item-content img {
  object-fit: cover;
  max-width: 350px;
  max-height: 440px;
  min-width: 350px;
  min-height: 440px;
}

.detail-item-content button {
  font-size: 20px;
  padding: 10px 40px;
  background-color: var(--green-color);
  cursor: pointer;
  border-radius: 10px;
  transition: all 1s ease;
}

.detail-item-content button:hover {
  background-color: var(--gray-color);
  color: var(--third-color);
}

.detail-item-content button:hover i {
  color: var(--third-color);
  transition: all 1s ease;
}

.detail-block-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail-block-infos select {
  width: auto;
}

.cart-detail-container {
  /* background-color: #61a5bf;  */
  margin: 0px 250px;
}


.cart-detail-container img {
  object-fit: cover;
  max-width: 250px;
  max-height: 300px;
  min-width: 250px;
  min-height: 300px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.cart-detail-container select {
  width: auto;
}

.cart-detail-container button {
  font-size: 18px;
  padding: 5px 8px;
  background-color:var(--green-color);
  cursor: pointer;
  border-radius: 50%;
  transition: all 1s ease;
}

.cart-detail-container button:hover {
  background-color: var(--gray-color);
  color: var(--third-color);
}



.total {
  margin: 0px 250px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: end;
}

.not_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 1s all ease;
}


.not_login h2 {
  color: var(--main-color);
}

